<!--
Formular zum User Task "Dokumente hochladen"
Author: scep und tzc05
-->

<form name="camundaForm">
    <div class="alert alert-info">      
        Scannen Sie die für Sie und die mitumziehenden Personen zutreffenden Dokumente und laden Sie sie hoch.
    </div>

    <div class="panel panel-default" ng-repeat="filesOfPerson in documentsPerPersonModel.filesOfPersonList track by filesOfPerson.person.firstName">
        <div class="panel-heading"><b>Dokumente von {{filesOfPerson.person.firstName}} {{filesOfPerson.person.officialName}}</b></div>
        <div class="panel-body">
            <table class="table" style="margin-bottom: 0">
                <tr ng-repeat="municipalityDocTypeFile in filesOfPerson.municipalityDocTypeFiles track by municipalityDocTypeFile.municipalityDocumentType.documentType.name">
                    <td style="padding-top: 14px; border: none">
                        {{municipalityDocTypeFile.municipalityDocumentType.documentType.name}}
                        <span ng-show="municipalityDocTypeFile.municipalityDocumentType.marriageCondition"><i> (falls verheiratet)</i></span>
                    <span ng-show="municipalityDocTypeFile.municipalityDocumentType.strangerCondition"><i> (falls Ausländer)</i></span>
                    <span ng-show="municipalityDocTypeFile.municipalityDocumentType.childrenCondition"><i> (falls Kinder)</i></span>
                    </td>
                    <td style="border: none">
                        <!-- Sobald der Benutzer eine Datei ausgewählt hat (onchange), soll die 
                        unten definierte Funktion readAndEncodeLocalFileToDataUrl aufgerufen werden.

                        PS: ng-click funktioniert nicht. Um aber aus dem JavaScript onclick-Event
                        auf eine im Angular-Scope definierte Funktion zugreifen zu können, muss der
                        Scope über angular.element(this).scope() ermittelt werden. -->
                        <input type="file"
                               id="{{municipalityDocTypeFile.municipalityDocumentType.documentType.name}}"
                               name="inputFieldFor{{filesOfPerson.person.firstName}}{{filesOfPerson.person.officialName}}"
                               class="form-control"
                               onchange="angular.element(this).scope().readAndEncodeLocalFileToDataUrl(this)"/>
                    </td>
                </tr>
            </table>            
        </div>
    </div>

    <script cam-script type="text/from-script">
        // Die AngularJS-Scope-Variable camForm.variableManager wird einer lokalen
        // Variable zugewiesen, damit diese mehrfach verwendet werden kann in den
        // folgenden Funktionen
        var variableManager = camForm.variableManager; 

        // Lädt beim Ereignis, dass das Formular geladen aber noch nicht angezeigt ist,
        // benötigte Prozessvariablen von der Process Engine (Server) in Variablen im
        // variableManager-Objekt (Client)
        camForm.on('form-loaded', function () {
            // Liste mit Dokumenten pro Person
            variableManager.fetchVariable("documentsPerPerson");
        });

        // Sobald alle Variablen cleint-seitig zur Verfügung stehen, werden diese
        // dem AngularJS-Scope-Objekt übergeben, damit diese z.B. über ng-bind
        // angezeigt werden können.
        camForm.on('variables-fetched', function () {
            $scope.documentsPerPersonModel = variableManager.variableValue("documentsPerPerson");
        });

        /**
         * Definition der Funktion readAndEncodeLocalFileToDataUrl, welche die vom
         * Benutzer ausgewählte Datei vom lokalen Dateisystem liest und in 
         * einen Base64-String encodiert als Teil einer Data Url
         */
        $scope.readAndEncodeLocalFileToDataUrl = function(element) {
            // Die Metadaten der ausgewählten Datei (nur die erste, falls der Benutzer mehrere ausgewählt hat) einer Variable zuweisen
            // -> https://developer.mozilla.org/de/docs/Web/API/File
            var file = element.files[0];
            
            // Eine neue FileReader-Instanz erstellen, welche zuständig ist, um den 
            // eigentlichen Inhalt der Datei vom lokalen Dateisystem asynchron (ohne Blockieren des GUI) auszulesen
            // (in unserem Fall als DataUrl) -> https://developer.mozilla.org/de/docs/Web/API/FileReader
            var reader = new FileReader();
            
            // Eine EventHandler-Funktion für den loadend-Event registrieren, also für
            // den Zeitpunkt, wenn der Lesevorgang erfolgreich oder fehlerhaft beendet wurde
            reader.onloadend = function () {
                // Zunächst muss die Person ermittelt werden, bei welcher die hochgeladene Datei eingefügt werden soll
                // Zuerst wird die Variable ngRepeatKey initialisiert, um den Schlüssel des wiederholenden Input-Felds und damit die betroffene Person auszulesen
                var ngRepeatKey;
                
                // Für einen einfacheren Zugriff auf filesOfPersonList einen Verweis setzen
                var filesOfPersonList = $scope.documentsPerPersonModel.filesOfPersonList;

                // Dabei wird in einer For-Schleife für jeden Listeneintrag in filesOfPersonList (=Anzahl Personen) die lokale Variable key gesetzt
                for (var [key] of Object.entries(filesOfPersonList)) {
                    // ...und sobald der Name des Inputfelds mit "inputFieldFor"+Vorname+Nachname der Person übereinstimmt, handelt es sich um diese Person (in der Realität z.B. bei Mutter und Tochter mit gleichem Name nicht der Fall
                    if (element.name === ("inputFieldFor"+filesOfPersonList[key].person.firstName + filesOfPersonList[key].person.officialName))    {
                        
                        // ...und der entsprechende Schlüssel wird der Variable ngRepeatKey übergeben
                        ngRepeatKey=key;
                        
                        // und die Schleife wird beendet, da kein anderer Wert für den HTML-Elementnamen stimmen darf.
                        break;
                    }
                }
                
                // Nun geht es darum für die ermittelte Person die hochgeladene Datei dem richtigen Dokumenttyp zuzuweisen
                // Für einen einfacheren Zugriff auf die Dokumenttypen einen Verweis setzen
                var municipalityDocTypeFiles = $scope.documentsPerPersonModel.filesOfPersonList[ngRepeatKey].municipalityDocTypeFiles;

                // Anzahl der Dokumente auslesen
                var municipalityDocTypeFilesSize = municipalityDocTypeFiles.length;

                // Über die Liste der Dokumente iterieren
                for (var i = 0; i < municipalityDocTypeFilesSize; i++) {
                    // Den Namen (z.B. Heiratsurkunde) des aktuellen Dokument-Objekts auslesen
                    var documentName = municipalityDocTypeFiles[i].municipalityDocumentType.documentType.name;

                    // Wenn dieser übereinstimmt mit dem Namen, welcher als Id des Input-Elements gesetzt wurde
                    if(documentName == element.id){
                        // Dann der Eigenschaft fileDataUrl das Resultat des Lesevorgangs (eine DataUrl) übergeben
                        municipalityDocTypeFiles[i].fileDataUrl = reader.result;
                        // und der fileName-Eigenschaft den Dateinamen der hochgeladenen Datei
                        municipalityDocTypeFiles[i].fileName = file.name;
                        // For-Schleife verlassen
                        break;
                    }
                }
            }
            
            // Nun, wo eine Funktion ausgeführt, wenn das Laden beendet ist, soll der eigentliche
            // Lade-Vorgang gestartet werden über die Methode readAsDataUrl -> https://developer.mozilla.org/de/docs/Web/API/FileReader/readAsDataURL
            reader.readAsDataURL(file);
        }
    </script> 
</form>
