<!--
Formular zum UserTask "Versicherungs-Kartennummern erfassen"
Autor: Gruppe TZb 05 und scep
-->
<form>
    <div class="alert alert-info">      
        Geben Sie die Nummern auf den Versichertenkarten ein. Ein paar Sekunden später erscheint die Bestätigung (grüner Haken) oder eine Fehlermeldung. Sie können es dann erneut mit einer anderen Kartennummer versuchen oder das Formular trotzdem absenden, werden dann aber von der Zuzugsgemeinde aufgefordert, am Schalter zu erscheinen.
    </div>
    
    <div class="panel panel-default" ng-repeat="personModel in personList track by personModel.localPersonId">
        <div class="panel-heading"><b>{{personModel.firstName}} {{personModel.officialName}}</b></div>
        <div class="panel-body">
            <label>Versichertenkartennummer</label>
            <input id="baseInsuranceNumber_{{personModel.localPersonId}}" class="form-control" type="number" ng-blur="checkBaseInsuranceNumberOfPerson(personModel)" ng-model="personModel.baseInsuranceNumber">
            <div ng-show="personModel.checkBaseInsuranceResult === 'Yes'" style="margin-top: 10px">
                <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
            </div>
            <div ng-show="personModel.checkBaseInsuranceResultDetails !== null" style="margin-top: 10px">
                <span class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span> {{personModel.checkBaseInsuranceResultDetails}}
            </div>
        </div>
    </div>
    <script cam-script type="text/form-script">
        // AngularJS-Scope-Variable camForm.variableManager wird lokalen Variable zugewiesen
        var variableManager = camForm.variableManager; 

        // Camunda Form Lifecycle: Nach dem Laden des Formulars werden Prozessvariablen von der Process Engine (Server) in den variableManager geladen
        // Liste der Personen
        camForm.on('form-loaded', function() {     
            variableManager.fetchVariable('personList');
        });

        // Camunda Form Lifecycle: Nach dem Laden der Variablen ...
        camForm.on('variables-fetched', function() {
            // ... Personenliste in Model-Variable speichern
            $scope.personList = variableManager.variableValue('personList').persons;
        });

        $scope.checkBaseInsuranceNumberOfPerson = function(personToCheck) {
            personToCheck.checkBaseInsuranceResultDetails = null;
            if (personToCheck.baseInsuranceNumber != null){
                // URL für CheckBaseInsuranceService definieren
                var url = '/umzugapi/v1/checkbaseinsurance';
                // Parameter für POST Request zusammenstellen
                let parameter = { 
                    method: 'PUT', 
                    body: JSON.stringify(personToCheck),
                    headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                          }
                }
                
                // REST-Aufruf an URL mit den Parametern, um die Grundversicherungsprüfung durchzuführen
                fetch(url, parameter).then(function(response) {
                    return response.json();
                  }).then(function(data) {
                    // Response checkBaseInsuranceResult setzten
                    personToCheck.checkBaseInsuranceResult = data.checkBaseInsuranceResult;
                    
                    // Response checkBaseInsuranceResultDetails setzten
                    personToCheck.checkBaseInsuranceResultDetails = data.checkBaseInsuranceResultDetails;
                  });
                }
        }
    </script>
</form>